---
---

body {
  font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #e2f6ea;
  margin: 100px 200px 100px;
}

h1, h2, h3, h4, h5, h6, p, a{
  color: #000;
  font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

a { text-decoration: underline;}

a:hover, a:focus { text-decoration: underline wavy; }

a small { font-size: 11px; margin-top: -0.3em; display: block; }

header, section, footer {
  float: left;
  position: relative;
  width: 100%;
  padding: 20px 0px 40px;
}

/*section h1, h2, h3, h4, h5, h6, p {
  margin: 0px 75px 75px;
}*/

header {
  display: inline-block;
  /*padding-top: 75px;*/
}

header h1 {
    /*margin: 75px 75px 75px;*/
    display: inline;
    font-weight: normal;
    font-size: 36px;
    /*text-transform: uppercase;*/
}

header ul {
  padding-left: 0px;
  list-style: none;
  position: absolute;
  float: left;
  text-align: left;
  display: inline;
  background: none;
  border-radius: none;
  border: none;

  li {
    text-transform: uppercase;
    text-align:left;
    float: left;
    padding-right: 50px;
  }

  li a {
    text-transform: uppercase;
    border-right: none;
    text-align:left;
    float: left;
    font-size:16px
  }

}


@media print, screen and (max-width: 960px) {
/*  div.wrapper {
    width: auto;
    margin: 50px 75px 50px;
  }*/
  body {
    margin: 75px 110px 75px;
  }


  header, section, footer {
    float: left;
    position: relative;
    width: 100%;
    padding: 20px 0;
    padding-bottom: 40px;
  }

  header a small { float: left;}

  section {
    border: none;
    padding: 20px 0;
    margin: 0 0 20px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap: break-word;
    margin: 50px 75px 50px;
  }
  header { padding: 20px 0; }
  header ul, header p.view {
    position: static;
    float: left;
    width:100%;
    padding-top: 20px;
  }
  header ul li {
    width: 100%;
    padding-bottom: 10px;
  }

  section {
    padding: 0;
  }

}

@media print, screen and (max-width: 480px) {
  body {
    padding: 30px;
    margin: 10px 20px 10px;
  }

  header {
    padding: 20px 0;
    /*padding-bottom:40px;*/
  }
  header ul, header p.view {
    position: static;
    float: left;
    width:100%;
    /*padding-bottom: 60px;*/
  }
  header ul  li {
    padding: 2px;
    font-size: 10px;
    width:100%;
  }
  section {
    padding: 0;
  }
  pre, code { word-wrap: normal; }
}

